body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(50, 100, 200);
}

div.login {
  width: 500px;
  overflow: hidden;
  margin: auto;
  margin-block-start: 130px;
  padding: 100px;
  padding-top: 50px;
  background: rgb(50, 175, 240);
  border-radius: 15px;
}

h1.log-in {
  text-align: center;
  padding: 20px;
}

label {
  color: rgb(255, 255, 255);
  font-size: 17px;
}

input.username {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 20px;
  padding-left: 8px;
}

input.password {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 20px;
  padding-left: 8px;
}

button.log-in {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 4px;
  color: rgb(0, 0, 0);
  margin: auto;
  margin-left: 200px;
  font-size: large;
}

div button.log-in:hover {
  background-color: rgb(50, 100, 200);
  font-size: medium;
  color: white;
}

b {
  color: black;
}

a.register {
  color: black;
  margin-left: 220px;
}

nav {
  background-color: rgb(20, 20, 80);
  position: relative;
  margin: 0px;
  height: 65px;
  border-radius: 10px;
}

.nav_home {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 15px;
  margin-left: 43%;
}

nav a {
  display: inline-block;
  font-size: 25px;
  padding: auto;
}

.nav_profile {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 15px;
}

nav a:hover {
  font-size: 30px;
  background-color: white;
  color: black;
}

.create_post {
  background-color: rgb(50, 100, 200);
  margin-top: 10px;
  width: 90%;
  height: 50px;
  margin-left: 5%;
  border-radius: 20px;
}

.post_input {
  width: 90%;
  height: 50px;
  border: none;
  border-radius: 20px;
  padding-left: 8px;
  display: inline-block;
}

button.new_post {
  background-color: white;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 17px;
  color: rgb(0, 0, 0);
  font-size: large;
  margin-top: 10px;
  margin-left: 5px;
  display: inline-block;
}

button.new_post:hover {
  background-color: black;
  color: white;
  font-size: larger;
}

div.profileDiv {
  color: white;
  background-color: rgb(50, 100, 200);
  font-size: x-large;
  font-weight: 900;
}

div.tweetDiv {
  color: black;
  font-size: larger;
  height: 400px;
  background-color: rgb(50, 175, 240);
  border-radius: 5px;
}

div.likesDiv {
  color: white;
  display: inline-block;
  font-size: large;
}

div.dislikesDiv {
  color: red;
  font-size: large;
  display: inline-block;
  margin-left: 50px;
}

div.commentDiv {
  color: black;
  font-size: larger;
  background-color: rgb(113, 166, 213);
  border-radius: 5px;
  margin-top: 5px;
}

div.tweetsDiv {
  margin-top: 50px;
  width: 50%;
  height: 0;
  border: none;
  display: inline-block;
  margin-left: 25%;
  background-color: rgb(50, 175, 240);
}

button.likeButton {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 17px;
  color: black;
  margin: auto;
  margin-left: 10px;
  font-size: large;
}

button.likeButton:hover {
  color: blue;
  font-size: larger;
}

button.disLikeButton {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 17px;
  color: black;
  margin: auto;
  margin-left: 10px;
  font-size: large;
}

button.disLikeButton:hover {
  color: red;
  font-size: larger;
}

input.commentInput {
  width: 83%;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  padding-left: 8px;
  display: inline-block;
}

button.commentButton {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 17px;
  color: black;
  margin: auto;
  margin-left: 10px;
  font-size: large;
}

button.commentButton:hover {
  background-color: black;
  color: white;
  font-size: larger;
}

button.deleteButton {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 17px;
  background-color: red;
  color: white;
  margin: auto;
  margin-left: 101%;
  font-size: large;
}

button.deleteButton:hover {
  background-color: rgb(120, 0, 0);
  color: white;
  font-size: larger;
}

button.editButton {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 17px;
  color: black;
  margin: auto;
  margin-left: 101%;
  font-size: large;
  margin-top: 5px;
}

button.editButton:hover {
  background-color: black;
  color: white;
  font-size: larger;
}

div.edit_username {
  display: inline-block;
  margin-left: 10%;
}

div.edit_password {
  display: inline-block;
  margin-left: 10%;
}

input.new_password {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 20px;
  padding-left: 8px;
  margin-top: 10px;
}

input.old_password {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 20px;
  padding-left: 8px;
  margin-top: 10px;
  display: inline-block;
}

button.save_password {
  display: inline-block;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 17px;
  color: black;
  margin: auto;
  margin-left: 80%;
  font-size: large; 
}

button.save_password:hover {
  background-color: black;
  color: white;
  font-size: larger;
}

.profileName {
  color: white;
}

input.username_admin {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 20px;
  padding-left: 8px;
}

input.password_admin {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 20px;
  padding-left: 8px;
}

input.role_admin {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 20px;
  padding-left: 8px;
  margin-left: 45px;
}

form.creat-user-form{
  width: 500px;
  overflow: hidden;
  margin: auto;
  margin-block-start: 25px;
  padding-top: 30px;
}

button.create_post {
  background-color: white;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 4px;
  color: rgb(0, 0, 0);
  margin: auto;
  margin-left: 200px;
  font-size: large;
}

div button.create_post:hover {
  background-color: black;
  font-size: larger;
  color: white;
}

button.deleteButton_admin {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 17px;
  background-color: red;
  color: white;
  margin: auto;
  font-size: large;
  margin-left: 15px;
}

button.deleteButton_admin:hover {
  background-color: rgb(120, 0, 0);
  color: white;
  font-size: larger;
}

button.editButton_admin {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 17px;
  color: black;
  margin: auto;
  margin-left: 15px;
  font-size: large;
  margin-top: 5px;
}

button.editButton_admin:hover {
  background-color: black;
  color: white;
  font-size: larger;
}

table.users_table {
  margin-top: 50px;
  color: white;
}

th {
  font-weight: 800;
  color: black;
}

table, tr, td, th {
  border-collapse: collapse;
  border: 2.5px solid black;
}

.editCommentButton {
  display: inline-block;
    height: 20px;
    width: 80px;
    border: none;
    border-radius: 17px;
    color: black;
    font-size: small;
    margin: 2px;
  }
  
  button.editCommentButton:hover {
    background-color: black;
    color: white;
    font-size: medium;
  }

  button.deleteCommentButton {
    display: inline-block;
    height: 20px;
    width: 80px;
    border: none;
    border-radius: 17px;
    background-color: red;
    color: white;
    font-size: small;
    margin: 2px;
  }
  
  button.deleteCommentButton:hover {
    background-color: rgb(120, 0, 0);
    color: white;
    font-size: medium;
  }

  .comment {
    margin: 5px;
  }
